# Ignore folder node_modules
App/MetadataApp/node_modules/
App/MetadataApp/public/uploaded/
App/MetadataApp/resultado.xlsx
App/MetadataApp/metadata.json
Analisador/resultado.xlsx
Analisador/metadata.json
Transformador/*.txt
XDG_CACHE_HOME
App/MetadataApp/cenas.txt
