extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b Grupo
    .w3-container
        h1.w3-xxlarge.w3-center 
                b Elementos do Grupo
        .w3-third.w3-center
                img.w3-circle(src='/images/62.jpg' height='300' width='300')
                p André Salgueiro
        .w3-third.w3-center
                img.w3-circle(src='/images/88.jpg' height='300' width='300')
                p Fábio Araujo
        .w3-third.w3-center
                img.w3-circle(src='/images/obom.jpg' height='300' width='300')
                p Bruno Carvalho
