extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b O PROJETO
            
    .w3-container
        .w3-container
            .w3-container
                .w3-container
                    .w3-container
                        .w3-container
                            .w3-container
                                .w3-container
                                    .w3-container
                                        .w3-container
                                            .w3-container
                                                .w3-container
                                                    .w3-container
                                                        .w3-container.w3-center.w3-xxlarge
                                                            p De uma forma sucinta, este projeto encontra-se inserido num projeto internacional, denominado NetLang, cujo principal objetivo é a análise de comentários de teor discriminatório em plataformas online, como são exemplo, as redes sociais.