extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b About
            
    .w3-container
        .w3-container
            .w3-container
                .w3-container
                    .w3-container
                        .w3-container
                            .w3-container
                                .w3-container
                                    .w3-container
                                        .w3-container
                                            .w3-container
                                                .w3-container
                                                    .w3-container
                                                        .w3-container.w3-center.w3-xxlarge
                                                            p Briefly, this project is part of an international project, called NetLang, whose main objective is the analysis of discriminatory comments on online platforms, such as social networks.
                                                            p The objective of this project is the creation of a computational method that elucidates the arduousness of the process of analysis of the several documents individually
                                                            p The intervention of this project entails obtaining the necessary information to fill the metadata. This will involve constructing a system that analyzes the comment thread and from a previously classified list of biases, identify biased words in comments. In this way you will sort the type of prejudice present in the comments. The list of prejudices consists of a database previously annotated, which represents the association of the triple, type prejudice - sociolinguistic variable - keyword