extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b Como utilizar
    .w3-container
        .w3-container
            .w3-container
                .w3-container
                    .w3-container
                        .w3-container
                            .w3-container
                                .w3-container
                                    .w3-container
                                        .w3-container
                                            .w3-container
                                                .w3-container
                                                    .w3-container
                                                        .w3-container.w3-center.w3-xxlarge
                                                            p No menu inicial o utilizador tem a um conjunto de acções possíveis, estas que se encontram todas representadas na zona do cabeçalho.
                                                            p  Destas, tem a funcionalidade de demonstrar o tema do projeto e os objetivos traçados pelo mesmo, obtendo a informação das tarefas que a interface realiza. Para esta visualização terá de clicar sobre o botão de “About”.Acrescentando a isto, podemos encontrar no redirecionamento deste botão, Além das funcionalidades indicadas em cima temos também a possibilidade de visualizar todos os membros envolvidos no trabalho, desde os desenvolvedores do mesmo até aos seus orientadores.
                                                            p Outra das opções corresponde a esta página onde se demonstra todas as funcionalidades da nossa interface. Para tal, terá de clicar sobre o botão de “Manual de Utilização”.  
                                                            p Temos também a funcionalidade de observar análises posteriormente feitas com os respetivos dados, clicando no botão que se encontra no cabeçalho com o nome de “Mostrar Análises” e posteriormente escolhe a análise que pretende dentro de uma lista que é representada com os nomes e conteúdos das mesmas.
                                                            p Para fazer a respetiva análise do ficheiro, temos um botão de seu nome “submeter ficheiro”. Depois de selecionada esta opção irá aparecer a possibilidade de escolher o tipo de ficheiro que pretende analisar, sendo este, ou de youtube ou de facebook. Feita esta análise, aparece uma página com os resultados obtidos e a possibilidade de acrescentar informação aos metadados. 