extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b Como utilizar
    .w3-container
        .w3-container
            .w3-container
                .w3-container
                    .w3-container
                        .w3-container
                            .w3-container
                                .w3-container
                                    .w3-container
                                        .w3-container
                                            .w3-container
                                                .w3-container
                                                    .w3-container
                                                        .w3-container.w3-center.w3-xxlarge
                                                            p No menu inícial seleciona o tipo de ficheiro que pretende analisar e aparecerá uma nova página de submissão de ficheiros. Nessa página de submissão apenas precisar de selecionar o ficheiro a analisar e clicar no botão de submeter.
                                                            