extends ../layout

block content
    .w3-container.w3-orange
        a(href="http://localhost:3001/")
            i.fas.fa-home.w3-right.w3-xxlarge
        header.w3-panel.w3-center.w3-opacity(style={padding:'80px 6px'})
            h1.w3-jumbo 
                b User Manual
    br
    .w3-container
        .w3-half
            .w3-card-4.w3-dark-grey
                .w3-container.w3-center.w3-xlarge
                    i.fas.fa-users
                    p Of these, it has the functionality to demonstrate the theme of the project and the objectives traced by it, obtaining the information of the tasks that the interface performs. For this visualization you will have to click on the "About" button.
        .w3-half
            .w3-card-4.w3-white
                .w3-container.w3-center.w3-xlarge
                    i.fas.fa-info
                    p Another of the options corresponds to this page where it demonstrates all the functionalities of our interface. To do this, you must click on the "User Manual" button.
                    br
    br
    .w3-container
        .w3-half
            .w3-card-4.w3-white
                .w3-container.w3-center.w3-xlarge
                    i.fas.fa-search
                    p We also have the ability to observe later analyzes with their data, clicking on the button that is in the header with the name of "Analysis History" and later choose the analysis that you want within a list that is represented with the names and contents of the themselves.
        
        .w3-half
            .w3-card-4.w3-dark-grey
                .w3-container.w3-center.w3-xlarge
                    i.fas.fa-file
                    p To do a file review, we have a button named "submit file". After selecting this option will appear the possibility of choosing the type of file you want to analyze, this being either youtube or facebook. After this analysis, a page appears with the results obtained and the possibility of adding information to the metadata.
                    
                                                            