extends ../layout

block content
    br
    br
    header.w3-container(style="box-shadow: 0px 1px 6px grey")
        h1 Prejudice Types
    br
    br
    .w3-container
        .w3-display-bottommiddle(style="overflow: scroll; width: 101%; height: 90%; border: 0px solid grey;")
            br
            br
            .w3-container
                table( id="obrasTable").w3-table.w3-table-all
                    each f in keywords
                        tr
                            td
                                .w3-bar
                                    .w3-bar-item
                                        if f.type_prejudice
                                        b
                                            big #{f.type_prejudice} 
                            td.w3-display-container
                                .w3-display-right
                                    a.w3-margin(href="http://localhost:3001/keywords/" + f.type_prejudice)
                                        i.fas.fa-eye