doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/engine.js")
    script.
      function addOption() {
      var x = document.getElementById("mySelect");
      var option = document.createElement("option");
      option.text = document.getElementById("sv_field").value;
      //option.text = document.getElementsByName("sv_field")[0].value;
      x.add(option);
      }
      function addOption2() {
      var x = document.getElementById("mySelect2");
      var option = document.createElement("option");
      option.text = document.getElementById("kw_field").value;
      //option.text = document.getElementsByName("kw_field")[0].value;
      x.add(option);
      }
      function removeOption() {
      var x = document.getElementById("mySelect");
      x.remove(x.selectedIndex);
      }
    style.
      * {
      box-sizing: border-box; 
      }
      body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      }
      .header {
      padding: 80px;
      text-align: center;
      background: #1abc9c;
      color: white;
      }
      .header h1 {
      font-size: 40px;
      }
      .navbar {
      overflow: hidden;
      background-color: #333;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      }
      .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      }
      .navbar a.right {
      float: right;
      }
      .navbar a:hover {
      background-color: #ddd;
      color: black;
      }
      .navbar a.active {
      background-color: #666;
      color: white;
      }
      .row {  
      display: -ms-flexbox; 
      
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      }
      .side {
      -ms-flex: 30%; 
      flex: 30%;
      background-color: #f1f1f1;
      padding: 20px;
      }
      .main {   
      -ms-flex: 70%; 
      flex: 70%;
      background-color: white;
      padding: 20px;
      }
      .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
      }
      .footer {
      padding: 20px;
      text-align: center;
      background: #ddd;
      }
      @media screen and (max-width: 700px) {
      .row {   
      flex-direction: column;
      }
      }
      @media screen and (max-width: 400px) {
      .navbar a {
      float: none;
      width: 100%;
      }
      }
  body
    div.w3-top
      div.w3-bar.w3-white.w3-card
        a(href='http://localhost:3001/').w3-bar-item.w3-button.w3-wide
            i.fab.fa-keycdn.w3-large
            br 
            | Harambe
        div.w3-right.w3-hide-small
          a(href='http://localhost:3001/ficheiros').w3-bar-item.w3-button
            i.fas.fa-search
            br
            |   Histórico de Análises
          a(href='http://localhost:3001/users/getFiles/youtube').w3-bar-item.w3-button
            i.fas.fa-file
            br
            |   Submeter Ficheiros
          a(href='http://localhost:3001/users/utilizar').w3-bar-item.w3-button
            i.fas.fa-info
            br
            |   Manual de atualização
          a(href='http://localhost:3001/users/projeto').w3-bar-item.w3-button
            i.fas.fa-users
            br
            | About
          
    block content
