extends layout

block content
    .w3-card-4.w3-dark-grey.w3-display-middle.w3-center
      .w3-container
        h3 CSV to JSON
        i.fas.fa-file-upload.w3-xxxlarge
        br
        br
        br
        h4 Since this web application only accepts JSON format files, you can submit here a CSV type file.
        h4 We convert the CSV format files to JSON format files.
        form(method='POST' action="/users/toJSONcompile" enctype='multipart/form-data')
            input.w3-input.w3-border.w3-light-grey(type="file", name='ficheiro' required)
            input(type="hidden" name="tipo" value=tipo)
            br
            input.w3-btn.w3-border.w3-wide.w3-round.w3-white(type="submit", value='Submeter')
            br
            br